<!-- app/views/layouts/_sidebar.html.erb -->

<div class="sidebar">
    <h3>Informaçôes</h3>
    <P><strong>Data e Hora Atual:</strong></p>
    <p><%= Time.now.strftime("%d/%m/%Y %H:%M") %></p>
</div>